.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
  border-bottom: 1px solid whitesmoke;
  color: white;
}

.header__left > a{
  text-decoration: none;
    color: white;
}

.header__right> a{
  text-decoration: none;
    color: white;
}

.header__right{
  display: flex;

}
.header__right > p{
  position: relative;
  top: 15px;
}

.product {
  max-width: 180px;
  margin: 10px 30px;
  
}
.product > img{
  width: 150px;
  height: 200px;
  

}

.products{
  display: flex;
  flex-wrap: wrap;
  display: flex;

  justify-content: center;
 
}

.cartItem__products{
display: flex;
justify-content:space-around;
align-items: center;
}

.cartItem__products > button{
  
}
.item_price{
  display: flex;
  justify-content: space-around;
}